.app {
  min-height: 100vh;
  background: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  background: #111827;
}

.todo-container {
  background: #fff;
  width: 350px;
  padding: 20px;
  border-radius: 12px;
}

.dark .todo-container {
  background: #1f2933;
  color: red;
}

.input-group {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
}

li {
  background: #eee;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.completed span {
  text-decoration: line-through;
  color: gray;
}

/* 📱 Responsive */
@media (max-width: 480px) {
  .todo-container {
    width: 90%;
  }

  .input-group {
    flex-direction: column;
  }
}
